@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Rubik+Dirt&display=swap');

/*GENERAL RULES*/

:root {
    --background:#100720;
    --background-invert:#eee;
    --font-color: #eee;
    --font-color-invert: #100720;
    --allways-white-color: #eee;
    --allways-orange-color: #f89704;
    --purple-color: #3B0944;
    --allways-lgray-color:lightgray;
    --check:#f2eee3;
    --ball:#100720;
    --label-ball: #f2eee3;
    --shadow-color: #1f1f1f;
    --gradient-text: linear-gradient(-45deg, #0647a2, #0480c8, #02a2de, #00d4ff);
    --gradient-bg: linear-gradient(-45deg, #020024, #090979, #0647a2, #0480c8, #02a2de, #00d4ff);
    --color-border-toggle: #e4e7ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
}

.shadow-efect {
  box-shadow: 5px 5px 10px 1px #636262;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.container-section {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  border-radius: 22px;
}


/*END GENERAL RULES*/

/*NEW DARK MODE WITH FILTER INVERT*/
html.dark-mode {
  --font-color: #100720;
  --background:#eee;
  --background-invert: #100720;
  --font-color-invert: #eee;
  --shadow-color: gray;
  --label-ball: darkgray;
  --ball:gray;
  --gradient-text: linear-gradient(-45deg, #ff0000, #FF4040, #F75F5E, #EF7F80);
  --color-border-toggle: #f0b357;
}


.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 10em;
  width: 20em;
  border: 3px solid var(--color-border-toggle);
  border-radius: 10em;
  background-color: var(--allways-white-color);
  box-shadow: 0px 0px 8px 0px #e4e7ec;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: var(--background);
}

.toggle-button {
  transform: translate(11em, 1.5em);
  position: absolute;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em var(--allways-orange-color);
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em var(--allways-white-color);
  transform: translate(2em, 1.5em);
}

.sun-icon {
  position: absolute;
  height: 6.5em;
  width: 6.5em;
  color: var(--allways-orange-color);
}

.sun-icon-wrapper {
  position: absolute;
  height: 5.5em;
  width: 5.5em;
  opacity: 1;
  transform: translate(2em, 0.5em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 5.5em;
  width: 5.5em;
  color: var(--allways-white-color);
}

.moon-icon-wrapper {
  position: absolute;
  height: 5.5em;
  width: 5.5em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(11em, 1em) rotate(-15deg);
}
/*END NEW DARK MODE*/

.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  background: none;
}

.content .links li{
  list-style: none;
  line-height: 63px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}

.wrapper .menu-icon{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  line-height: 70px;
}
.wrapper .menu-icon{
  display: none;
}

.wrapper input[type="checkbox"]{
  display: none;
}
/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 85px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 75px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
.dark-mode-div label {
  font-size: 0.1875rem;
}
/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 18px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }

}
@media screen and (max-width: 750px){

  .logo-p {
    font-size: 2.1rem;
  }
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}
@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
}

/*NEW NAVBAR*/

/*END NEW NAVBAR*/
  /*HEADER*/
  header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0;
    display: block;
    justify-content: space-around;
    align-items: center;
    background: var(--gradient-bg);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 2;
  }

  li {
    list-style: none;
  }
  
  a {
    color: var(--font-color);
    text-decoration: none;
  }

  .nav-link {
    color: var(--allways-white-color);
  }

  nav a {
    padding: 2rem;
    display: block;
  }
.logo {
    margin-left: 0%;
    margin-right: auto;
}

.logo-p {
    text-align: center;
    font-family: 'Rubik Dirt', cursive!important;
    font-size: 30px;
    color: var(--allways-white-color);
}

/*END HEADER*/

  /*WELCOME SECTION*/
  .welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 20rem;
    flex-direction: column;
    flex-wrap: wrap;
    }

.welcome-text {
  margin-top: 7rem;
  text-align: end;
}

.welcome-image img {
  width: 16rem;
  margin-top: 8rem;
}
  .welcome-section h1 {
    color: var(--font-color);
    font-size: 50px;
  }

  .welcome-section p {
    font-size: 30px;
    background: var(--gradient-text);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    }

    .welcome-section span {
      color: var(--font-color);
    margin-top: 2%;
    font-family: monospace;
    font-style: italic;
    font-size: 20px;
    }

    /*SLIDER PROGRAM LANGUAGE*/
    
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(calc(-250px * 9));
              transform: translateX(calc(-250px * 9));
    }

  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(calc(-250px * 9));
              transform: translateX(calc(-250px * 9));
    }

  }

.slider {
    /* background: white; */
    /* box-shadow: 0 10px 20px -5px rgb(0 0 0 / 13%); */
    height: 100px;
    margin: auto;
    margin-top: 5em;
    overflow: hidden;
    position: relative;
    width: 100%;
}

  .slider::before, .slider::after {
    /*background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);*//*Se apaga el shadow en los margins left y right*/
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider .slide-track {
    -webkit-animation: scroll 30s linear infinite;
            animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 18);
  }

  .slider .slide {
    height: 50px;
    width: 250px;
  }
    /*END SLIDER PL*/

    /*OFFER SECTION*/

    #offer-section {
      animation: myAnim 1s ease 0s 1 normal forwards;
    }

    @keyframes myAnim {
      0% {
        opacity: 0;
        transform: translateX(-50px);
      }
    
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .h2-offer {
    color: var(--allways-white-color);
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: var(--purple-color);
    border-radius: 22px 22px 0 0;
    }
    .p-offer {
      background-color: var(--background-invert);
      color: var(--font-color-invert);
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      margin-top: 1%;
    }

    .design-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: var(--purple-color);
        margin-top: 1%;
        border-radius: 0 0 22px 22px;
    }

    .block-offer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 1rem 1rem;
      width: 40%;
    }

    .block-offer img {
      width: 100%;
    }

    .title-p-image-offer {
      color: var(--allways-lgray-color);
      font-size: 22px;
      padding: 1rem 1rem 0 1rem;
    }

    .content-image-offer {
      color: var(--allways-white-color);
      font-size: 18px;
      margin-top: 1rem;
      text-align: justify;
    }

/*PROJECTS SECTION*/

#projects {
  animation: myAnim2 1s ease 0s 1 normal forwards;
}
    .projects {
      display: flex;
      width: 100%;
    }

    @keyframes myAnim2 {
      0% {
        opacity: 0;
        transform: translateX(-50px);
      }
    
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .projects-title {
      color: var(--allways-lgray-color);
      font-size: 2rem;
      text-align: center;
      background: var(--purple-color);
      border-radius: 22px 22px 0 0;
    }

    #project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 4rem;
      width: 100%;
      max-width: 1280px;
      padding: 1rem 1rem;
      background: var(--purple-color);
      border-radius: 0 0 22px 22px;
      margin-top: 1%;
    }

    .project-button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 1;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #fff;
      outline: 2px solid #fff;
      padding: 20px 10px;
      margin-top: 1rem;
      position: relative;
      overflow: hidden;
      transition: color 1s;
      }
      
      .project-button:hover {
        color: #833ab4;
      }
      
      .project-button::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50px;
      width: 0;
      height: 100px;
      background-color: #fff;
      transform: skewX(35deg);
      z-index: -1;
      transition: width 1s;
      }
      
      .project-button:hover::before {
      width: 150%;
      }

    .project {
      border-radius: 2px;
    }

    .project-image {
      height: calc(100% - 6.8rem);
      width: 100%;
      object-fit: cover;
    }
/*END PROJECTS SECTION*/   

/*CONTACT SECTION*/
#contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-title {
  color: var(--font-color);
  font-size: 3rem;
  text-align: center;
}

.contact-p {
  color: var(--font-color);
  font-size: 1.5rem;
  text-align: center;
  font-family: monospace;
  font-style: italic;
  margin-left: 8rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.contact-detail {
  font-size: 2rem;
  text-shadow: 2px 2px 1px var(--shadow-color);
  transition: transform 0.3s ease-out;
}

.contact-detail:hover {
  transform: translateY(8px);
}

hr {
  border: 1px #2B4865 solid;
  margin: 2%;
  border-radius: 10px;
}
/*END CONTACT SECTION*/

/*FOOTER*/
  .footer {
    margin:0 5% 5% 5%;
    position: relative;
  }
  
  .footer  p {
    color: var(--font-color);
    padding-bottom: 20px;
    text-align: center;
  }
  
  .footer  span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }
  /*END FOOTER*/

  /*ON TOP BOTTOM*/
  .top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 12px;
    background: rgba(0,0,0,.5);
    border-radius: 5px;}
    
    .top:hover {
      text-decoration: none;
      background: #000;
    }
  /*END ON TOP BOTTOM*/

  /*MEDIA QUERIES*/
  @media (max-width: 1050px) {
    .h2-offer{
      font-size: 1.2rem;
    }
  }
  @media (max-width: 860px) {
    
    .logo-p {
      font-size: 1.1rem;
    }


      #span-dm {
        margin: 0;
        font-size: 13px;
      }

      .welcome-section {
        flex-wrap: nowrap;
        height: 25rem;
      }
    .welcome-image img {
      width: 10rem;
      margin-top: 7rem;
    }
    .welcome-text {
      margin-top: 0;
    }
    .slider {
      margin-top: 3rem;
    }
    
    .design-section {
      flex-direction: column;
      align-items: center;
    }
    .block-offer {
      width: 100%;
    }
    .block-offer img {
      width: 80%;
    }

    .title-p-image-offer {
      padding: 1rem 2rem 0 2rem;
    }

    .content-image-offer {
      padding: 1rem 4rem;
    }
  }

  @media (max-width: 750px) {
    .logo-p {
      font-size: 2.1rem;
    }
    .container-section {
      width: 98%;
    }
  }
  @media (max-width: 650px) {

    nav li {
      padding-bottom: 5px;
    }
    nav > ul {
        width: 100vw;
        flex-direction: column;
      }
    
      nav  a {
        padding: 1rem;
      }

      #span-dm {
        font-size: 15px;
        margin-right: 10px;
    }

    .label {
      width: 45px;
      height: 21px;
      padding-right: 0em;
    }

    .ball {
      width: 17px;
      height: 17px;
    }


    .welcome-section span {
    font-size: 17px;
    }

    .slider {
      margin-top: 2rem;
    }

    #contact-links {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
    .welcome-section h1 {
      font-size: 40px;
    }

    .welcome-section span {
      font-size: 15px;
      }
      .contact-title {
        font-size: 2.5rem;
      }
      .contact-p {
        font-size: 1.2rem;
      }

      .welcome-section {
        height: 24rem;
      }

      .content-image-offer {
        padding: 1rem 2rem;
      }
  }

  @media (max-width: 480px) {
    .logo p {
      font-size: 1.8rem;
  }
    .welcome-section h1 {
      font-size: 30px;
    }
    .welcome-section p {
      font-size: 25px;
    }
    .welcome-section span {
      font-size: 13px;
      }

      #project-grid {
        grid-template-columns: none;
      }
    .contact-title {
        font-size: 1.8rem;
    }
    .contact-p {
      margin-left: 4rem;
      font-size: 1rem;
    }
  }

  @media (max-width: 350px) {
    .logo p {
      font-size: 1.5rem;
  }
    
    .dark-mode-div label {
      font-size: 0.15rem;
    }


    .welcome-section h1 {
      font-size: 22px;
    }
    .welcome-section p {
      font-size: 16px;
    }

    .contact-title {
        font-size: 1.5rem;
    }
    .contact-p {
      margin-left: 0;
      font-size: 1rem;
    }
  }

